DOMAIN=app.twojadomena.pl
SECRET_KEY=wygeneruj-dlugi-losowy-klucz
DEBUG=False
ALLOWED_HOSTS=app.twojadomena.pl
CSRF_TRUSTED_ORIGINS=https://app.twojadomena.pl
SECURE_SSL_REDIRECT=True

POSTGRES_DB=filmerp
POSTGRES_USER=filmerp
POSTGRES_PASSWORD=wygeneruj-silne-haslo-bazy
DATABASE_URL=postgres://filmerp:wygeneruj-silne-haslo-bazy@db:5432/filmerp

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=FILMERP <noreply@twojadomena.pl>
